{
    "$schema": "https://raw.githubusercontent.com/infection/infection/main/resources/schema.json",
    "source": {
        "directories": [
            "app"
        ],
        "excludes": [
            "app/Console/Kernel.php",
            "app/Exceptions/Handler.php",
            "app/Http/Kernel.php",
            "app/Providers",
            "app/Console/Commands/GeoIP/UpdateDatabaseCommand.php",
            "routes/*"
        ]
    },
    "logs": {
        "text": "storage/infection/infection.log",
        "summary": "storage/infection/summary.log",
        "json": "storage/infection/infection.json",
        "perMutator": "storage/infection/per-mutator.md"
    },
    "mutators": {
        "@default": true
    },
    "testFramework": "pest"
}

